#root {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  text-align: center;
  background: linear-gradient(170deg, #ffffff 15%, #d7cedf 45%, #d7c8c7 55%, #7e1212 80%);
}

.main {
  max-width: 1600px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.title {
  font-size: 32px;
  line-height: auto;
  font-weight: bolder;
  margin-bottom: 30px;
  margin-top: 100px;
}

.subtitle {
  font-size: 24px;
  line-height: auto;
  font-weight: 500;
  margin-bottom: 55px;
}

.tab-buttons {
  display: flex;
  flex-direction: row;
  gap: 25px;
  margin-bottom: 50px;
}

.tab-button {
  text-decoration: none;
  outline: none;
  background-color: transparent;
  border: 2px solid #000;
  border-radius: 25px;
  color: #000;
  cursor: pointer;
  font-size: 24px;
  line-height: auto;
  font-weight: 400;
  padding: 10px 15px;
  transition: all 0.5s ease;
}

.tab-button:hover {
  border-color: #16d9e3;
  color: #16d9e3;
  transform: scale(0.9);
}

.tab-button_active {
  color: #16d9e3;
  border: 2px solid #16d9e3;
  transition: none;
  transform: none;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.card {
  background-color: #fff;
  box-sizing: border-box;
  width: 250px;
  height: 250px;
  border: 3px solid #000;
  overflow: auto;
  padding: 5px;
}

.word {
  font-size: 20px;
  line-height: auto;
  border-bottom: 1px solid #000;
}

.definition {
  font-size: 18px;
  line-height: auto;
}

.mindmap {
  width: 95%;
  height: auto;
  border: 2px solid #000;
  border-radius: 25px;
}

@media (max-width: 768px) {
  .title {
    font-size: 6vw;
  }

  .subtitle {
    width: 90%;
    font-size: 5vw;
    text-wrap: wrap;
  }

  .tab-buttons {
    gap: 5vw;
  }

  .tab-button {
    font-size: 4vw;
    padding: 1vw 2vw;
  }

  .container {
    gap: 2vw;
  }

  .card {
    box-sizing: border-box;
    width: 25vw;
    height: 25vw;
    padding: 0.1vw;
  }

  .word {
    font-size: 2.5vw;
    line-height: auto;
  }

  .definition {
    font-size: 2.5vw;
    line-height: auto;
  }
}
